.header {
  background-color: #fff;
  color: #000;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-height: 800px;
  min-height: 720px;
  height: 100vh;
  padding: 30px 80px 40px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
  display: block;
}
.header__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -0.6px;
  max-width: 729px;
  margin-bottom: 28px;
  margin-top: 183px;
  z-index: 1;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 683px;
  z-index: 1;
}
.header__image {
  z-index: 0;
  position: absolute;
  width: 646px;
  height: 568px;
  margin-top: 124px;
  right: 0;
  padding-right: 5px;
  margin-bottom: 0;
}

.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.header__paragraph {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  list-style-type: none;
  margin: 0;
}
